*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body{
    background-color:#fcf9fc;
    height: 100vh;
   
}

html{
    scroll-behavior: smooth;
}

p{
    font-size: 22px;
}

.flex{
    display: flex
}
.limite{
    max-width: 1280px;
    margin: 0 auto;
  
}

.img1{    
    width: 50px;
    position: relative;
    left: 85px;
}

/*Botao de contato*/
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:#e2b5e3;;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


h2.titulo{
    color: #f3fcfc;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: #797676;
}


 button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px  #e2b5e3;;
    transform:scale(1.05) ;
}

/*estilo do cabeçalho*/
header{
    padding:0px 4%;
    background-color:#602d6d;
   
}

header > .limite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header a{
    color: rgb(116, 116, 116);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: azure;
    transform: scale(1.05);
  
}

header nav ul{
    list-style-type: none;  
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
    margin-left: 50px;
    
}



.btn-abrir-menu i{
 color: #e2b5e3;
 font-size: 40px;

}

/*estilo do main*/

section.topo-do-site{
 padding: 40px 4%;
 
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.topo-do-site h1{
     color: rgb(110,110, 110);
    font-size: 42px;
    line-height: 40px;
}



.topo-do-site .txt-topo-site p{
      color: rgb(110,110, 110);
      margin: 40px 0;
      width: 600px;
 
}



.topo-do-site .img-topo-site img{
    position: relative;
    right: 90px;
    animation: flutuar 2s ease-in-out infinite alternate;
    opacity: 0.5;
     width: 300px;
}


@keyframes flutuar{
    0%{
        top:0;
    }

    100%{
        top:30px;
    }
}

#scroll-to-top-btn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 30px;
    background-color: #555;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
   
}

#scroll-to-top-btn:hover {
    background-color: #555;
}

/*especialaidades*/
section.especialidades{
    padding: 40px 4%;
    background-color: #ebd4f1;;
}

section.especialidades .flex{
    gap:60px;
    margin-left: 130px;
}

.img2{
    width: 160px;
    border-radius: 10px;
}

.especialidades .especialidades-box{
    color: rgb(125, 125, 125);
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    

}

.especialidades .especialidades-box:hover{
    transform:scale(1.1) ;
    box-shadow: 0 0 8px rgba(139, 133, 121, 0.623);
}

.especialidades .especialidades-box i{
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    bottom: 30px;
    left: 11px;
    color:#e2b5e3;
   

}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 20px 0;
    text-align: center;

}

footer{
    background-color: #070707;
}

footer.especialidades .especialidades-box{
    color: aliceblue;
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
  
}

footer.especialidades .flex{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 20px;

}

.inf-rodape{
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}

.inf-rodape1{
    font-size: 8px;
   text-align: center;
     margin-top: 7px;
     color: rgb(83, 84, 86);
}

@media screen  and (max-width:1020px){
    .flex{
        flex-direction: column;
    }

    .topo-do-site .site {
        flex-direction: column-reverse;
    }

     h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }

     /*cabeçalho*/
     .img1{
        width: 50px;
        position: relative;
        left: 0;
    
    }
   

   .menu-desktop ul li a {
    padding: 1px 25px;
   
   }

    section.topo-do-site .flex{
        gap: 50px;
    }

       section.topo-do-site{
        padding: 20px ;
    }

     .topo-do-site h1{
        font-size: 22px;
       
    }

    .txt-topo-site{
        width:90%;
    }

    .img-topo-site{
        position: relative;
        left:  60px;
        border: #070707 solid 1px;
    }

    .txt-topo-site p{
        font-size: 15px;
    }

    .pmain{
        width: 10px;
        height: 10px;
    }
    
     section.especialidades{
        padding: 40px 12%;
    }

     .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

      /*PORTIFOLIO*/

        section.portfolio{
            padding: 80px 8% ;
        }

      

        .img-port{
            width:100%;
           
        }


     section.portfolio .flex{
        gap:60px
     }
      /*formulario*/
     section.formulario{
        padding: 80px 8%;
    }
}