*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body{
    background-color:#fbf4fb;
    height: 100vh;
   
}

html{
    scroll-behavior: smooth;
}

p{
    font-size: 22px;
}

.flex{
    display: flex
}
.limite{
    max-width: 1280px;
    margin: 0 auto;
  
}

.img1{    
    width: 50px;
    position: relative;
    left: 85px;
}

/*Botao de contato*/
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:#e2b5e3;;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


h2.titulo{
    color: #f3fcfc;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: #797676;
}


 button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px  #e2b5e3;
    transform:scale(1.05) ;
}

/*estilo do cabeçalho*/
header{
    padding:0px 4%;
    background-color:#602d6d;
   
}

header > .limite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header a{
    color: rgb(116, 116, 116);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: azure;
    transform: scale(1.05);
  
}

header nav ul{
    list-style-type: none;  
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/*estilo do main*/

section.topo-do-site{
 padding: 40px 4%;
 
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.topo-do-site h1{
     color: rgb(110,110, 110);
    font-size: 100px;
    line-height: 40px;
   text-shadow:  0px 0px 8px  #e2b5e3;

}

samp{
    
    font-size: 60px;
     -webkit-text-stroke: 1px #602d6d;
    opacity: 0.5;
    position: relative;
    top: 10px;
    
}



.topo-do-site .txt-topo-site p{
      color: rgb(110,110, 110);
      margin: 40px 0%;
      font-weight: bold;
 
}



.topo-do-site .img-topo-site img{
    position: relative;
    right: 60px;
    animation: flutuar 2s ease-in-out infinite alternate;
    opacity: 0.5;
     width: 300px;
}
/*inicio carrosel */
.carrossel{

width:100%;

overflow:hidden;
}

.slide-track{

display:flex;

width:max-content;

gap:20px;

animation:scroll 15s linear infinite;

}

.slide-track img{

width:300px;

height:200px;

object-fit:cover;

border-radius:10px;

flex-shrink:0;

}

@keyframes scroll{

from{

transform:translateX(0);

}

to{

transform:translateX(calc(-50%));

}

}



@keyframes flutuar{
    0%{
        top:0;
    }

    100%{
        top:30px;
    }
}

#scroll-to-top-btn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 30px;
    background-color: #555;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
   
}

#scroll-to-top-btn:hover {
    background-color: #555;
}


/*sobre*/
#sobre1{
   background-color: #f3fcfc;
}
.sobre{
    margin-top: 80px;
}
.sobre p{
    font-size: 20px;

}

.sobre h1{
    font-size: 45px;
    color: #602d6d;
}

.img-sobre img{
    width: 400px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 20px 40px #f1ead4 ;
    margin-top: 100px;
   
}

.linha {
    border: none;
    height: 1px;
    background-color: #e7daad;
    margin:15px 0;
}

/*especialaidades*/
section.especialidades{
    padding: 40px 4%;
     background-color: #f1ead4;
    
}

section.especialidades .flex{
    gap:60px;
    margin-left: 130px;
}

.img2{
    width: 160px;
    border-radius: 10px;
}

.especialidades .especialidades-box{
    color: rgb(125, 125, 125);
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    

}

.especialidades .especialidades-box:hover{
    transform:scale(1.1) ;
    box-shadow: 0 0 8px rgba(139, 133, 121, 0.623);
}

.especialidades .especialidades-box i:hover{
   box-shadow: 0px 0px 8px  #e2b5e3;
   border-radius: 5px;
    transform:scale(1.05) ;
    cursor: pointer;
}


.especialidades .especialidades-box i{
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    bottom: 30px;
    left: 11px;
    color:#e2b5e3;
   

}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 20px 0;
    text-align: center;

}

footer{
    background-color: #070707;
}

footer.especialidades .especialidades-box{
    color: aliceblue;
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
  
}

footer.especialidades .flex{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 20px;

}

.inf-rodape{
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}

.inf-rodape1{
    font-size: 8px;
   text-align: center;
     margin-top: 7px;
     color: rgb(83, 84, 86);
}

@media screen  and (max-width:1020px){
     .flex{
        flex-direction: column;
    }

    section.especialidades .flex{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    
    }
    .especialidades .especialidades-box{
        padding: 0px;
   ;
    }

    .topo-do-site .site {
        flex-direction: column-reverse;
    }

     h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }

     /*cabeçalho*/
     .menu-desktop{
        display: none;
     }

   #menu-principal .img1{
    position: relative;
    left: 50px;
   }
   
      section.topo-do-site .flex{
        gap: 50px;
    }

       section.topo-do-site{
        padding: 20px 8%;
    }

     .topo-do-site h1{
        font-size: 55px;
       
    }

    .topo-do-site samp {
        font-size: 40px;
         -webkit-text-stroke: 1px #602d6d;
        opacity: 0.5;

    }

       .img-topo-site{
        position: relative;
        left:  100px;
        bottom:  30px;
        width: 55%;
    }



       .topo-do-site .img-topo-site img{
        width: 120px;
    }

    .img2{
        width: 120px;
    }
    .txt-topo-site p{
        font-size: 20px;
        
    }

    .img-sobre img{
        width:200px;
       height: 260px;
       margin-top: 0;
       margin-bottom: 20px;
    }
    
    .sobre h1{
       text-align: center;
       font-size: 25px;
       font-style: oblique;
    }
    .sobre p{
        font-size: 16px;
    }
    .especialidades .especialidades-box h3{
    font-size: 20px;
    ;
}  
   

     .btn-social{
        text-align: center;
    }
   


      /*formulario*/
     section.formulario{
        padding: 80px 8%;
    }

    .btn-contato{
        text-align: center;
    }
}